@import url("reset.css");

body {
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 1.2;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

.container {
    max-width: 1758px;
    padding-left: 15px;
    padding-right: 15px;
}

.task-list {
    font-size: 22px;
    font-weight: 700;
    background-color: #FFBE48;
    text-align: center;
    padding: 50px 0 50px;
}

.task-list li {
    display: inline-block;
    margin-right: 20px;
}

.task {
    color: #412672;
}

.task:hover {
    color: #ffffff;
    text-decoration: underline;
}

#task1 {
    background-color: #412672;
    padding-top: 61px;
    padding-bottom: 82px;

}

#task1 .container {
    max-width: 1201px;
    padding: 0;
    margin: 0 auto;
}

#task1 .section-title {
    color: #ffffff;
    font-size: 38px;
    margin-bottom: 31px;
}

#task1 .semi-title {
    display: block;
    font-weight: 700;
}

.card-list {
    font-size: 0;
}

.card {
    display: inline-block;
    height: 476px;
    max-width: 387px;
    padding: 20px;
    font-size: 15px;
    background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:hover {
    background: #FFBE48;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-img {
    height: 266px;
    width: 100%;
    margin-bottom: 16px;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card-text {
    line-height: 1.2;
}

.card-text-block {
    height: 76px;
    overflow-y: auto;
    margin-bottom: 16px;
}

.card-link {
    color: #FE3F3F;
    line-height: 1.27;
    margin-right: 20px;
}

.card-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

#task2 {
    color: #412672;
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;

}

#task2 .container {
    max-width: 518px;
    padding: 0;
    margin: 0 auto;
}

#task2 .section-title {
    font-size: 34px;
    margin-bottom: 20px;
}

#task2 .semi-title {
    display: block;
    font-weight: 700;
}

#task2 .text {
    font-size: 22px;
    margin-bottom: 36px;
}

#task2 .item {
    font-size: 20px;
    color: #4F4F4F;
    line-height: 1.4;
}

#task2 .item:not(:last-child) {
    margin-bottom: 20px;
}

#task2 .item::before {
    content: url(../img/list_mark.svg);
    width: 29px;
    height: 29px;
    margin-right: 15px;
    vertical-align: middle;
}

#task3 {
    background-color: #412672;
    padding-top: 100px;
    padding-bottom: 100px;
}

.game__container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
}

.game__container>*:hover,
.game__container>*:hover+* {
    visibility: visible;
}

.game__start,
.game__end {
    width: 70px;
    height: 70px;
    background-color: green;
    color: #FFBE48;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
}

.block {
    background-color: #FFBE48;
    visibility: hidden;
}

.game__block1 {
    width: 300px;
    height: 70px;
    margin-left: 70px;
    margin-top: -70px;
}

.game__block2 {
    width: 65px;
    height: 150px;
    margin-left: 370px;
    margin-top: -70px;
}

.game__block3 {
    width: 230px;
    height: 60px;
    margin-left: 370px;
}

.game__block4 {
    width: 55px;
    height: 100px;
    margin-left: 545px;
}

.game__block5 {
    width: 500px;
    height: 50px;
    margin-left: 100px;
}

.game__block6 {
    width: 45px;
    height: 50px;
    margin-left: 100px;
}

.game__block7 {
    width: 400px;
    height: 40px;
    margin-left: 100px;
}

.game__block8 {
    width: 35px;
    height: 35px;
    margin-left: 465px;
}

.game__block9 {
    width: 200px;
    height: 30px;
    margin-left: 300px;
}

.game__block10 {
    width: 25px;
    height: 70px;
    margin-left: 300px;
}

.game__end {
    background-color: red;
    color: #412672;
    margin-left: 255px;
}

.footer {
    padding: 50px 0 50px;
    background-color: #FFBE48;
    text-align: center;
}

.footer .task {
    font-size: 22px;
    font-weight: 700;
}